.code-box {
  width: 100%;
  height: 320px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: black;
}
.cd-bx {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 17px;
}
.code-box p {
  line-height: 8px;
  color: white;
}
.str {
  color: #c27230;
}
.vrb {
  color: white;
}
.lbr {
  color: #6792b3;
}
.cmd {
  color: #b83426;
}
.txt {
  color: #a5c261;
}
