/* config */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  font-size: 1.6rem;
}

/* container */
.container {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

/*theme Tet*/
@keyframes flowers-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes flowers-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes flowers-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
@-webkit-keyframes flowers-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes flowers-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.flower {
  height: auto;
  width: 30px; /*chinh kich thuoc hoa*/
  text-shadow: 0 0 5px #000;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: flowers-fall, flowers-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: flowers-fall, flowers-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.flower:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.flower:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.flower:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.flower:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.flower:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.flower:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.flower:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.flower:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.flower:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.flower:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.flower:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
}
.flower:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}
/* finish theme Tet */

/* header */
.content-header {
  display: flex;
  justify-content: space-between;
  background: #fbf7f4;
}

.left-header img,
.right-header img {
  width: 100%;
}

.mid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mid-right-header img {
  width: 10rem;
}

.phao-header img {
  width: 10rem;
}

.logo-header img {
  height: auto;
  width: 350px;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-size: 350px 100px;
}

.form-header {
  display: flex;
}

.form-header input {
  height: 3.4rem;
  width: 27rem;
  padding: 5px;
  border: 2px solid #ffa500;
  border-radius: 1rem 0 0 1rem;
  font-size: 1.6rem;
}

.form-header button {
  height: 3.4rem;
  width: 8rem;
  background-color: orange;
  color: white;
  border: 2px solid #ffa500;
  border-radius: 0 1rem 1rem 0;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
}

/* finish header */

/* main-content */
.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fbf7f4;
  border: #f4a261 3px solid;
  border-radius: 3px;
}

.left-panel {
  width: 25rem;
  min-height: 100vh;
  max-height: 100vh;
  text-align: left;
}

.left-panel > div {
  width: 100%;
}

.right-panel {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #fff;
  text-align: left;
  border-left: 5px solid #f4a261;
}

.left-panel,
.right-panel {
  padding-bottom: 1rem;
  overflow-y: auto;
}

.right-title {
  border-bottom: 2px solid #f4a261;
}

.left-title,
.right-title {
  background-color: #f4a261;
  color: white;
  height: auto;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}

.part {
  font-weight: bold;
  padding: 10px 1rem;
  border-top: 2px solid #f4a261;
}

.question {
  padding: 0.5rem 3rem;
}

.part,
.question {
  display: none;
  cursor: pointer;
}

.part:hover,
.question:hover {
  background-color: #e2dfdc;
  color: black;
  transition: all 0.15s ease-in-out;
}

.part.clicked,
.question.clicked {
  background-color: #a57e69;
  color: white;
}

.part.active,
.question.active {
  display: block;
}

.answer {
  padding: 3rem 1rem 1rem 1rem;
}

.loading {
  font-style: italic;
  color: #999;
}
/* finish main-content */

/*footer*/
.footer-content {
  display: flex;
  justify-content: space-around;
  background-color: #fbf7f4;
  min-height: 10rem;
  font-size: 1.3rem;
  padding: 1.3rem 0 0 0;
}

.left-footer {
  display: flex;
  align-items: center;
  position: relative;
  top: -1rem;
}

.left-footer img {
  width: 7rem;
}

.mid-footer {
  display: flex;
  flex-direction: column;
}

.mid-bottom-footer {
  position: relative;
  top: -1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  font-weight: bold;
}

.logo-mid-left-footer img {
  width: 7.5rem;
}

.logo-mid-right-footer img {
  width: 6rem;
}

/*finish footer*/

@media screen and (max-width: 767.98px) {
  /* header */
  .content-header {
    display: block;
    background: #fbf7f4;
  }
  .mid-header {
    display: list-item;
    list-style: none;
  }
  .left-header,
  .right-header,
  .mid-right-header,
  .phao-header {
    display: none;
  }
  .mid-left-header {
    width: 100%;
    display: list-item;
    list-style: none;
    text-align: center;
  }
  .logo-header img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    width: 270px;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 270px 90px;
  }
  .form-header {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
  .form-header input {
    height: 3.4rem;
    width: 23rem;
    padding: 5px;
    border: 2px solid #ffa500;
    border-radius: 1rem 0 0 1rem;
  }
  .form-header button {
    height: 3.4rem;
    width: 4rem;
    background-color: orange;
    color: white;
    padding: auto 0;
    border: 2px solid #ffa500;
    border-radius: 0 1rem 1rem 0;
    font-weight: bold;
    text-align: center;
  }
  .search-header {
    display: flex;
    justify-content: center;
  }
  /* finish header */

  /* main-content */
  .main-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .left-panel,
  .right-panel {
    width: 100%;
    border-right: none;
  }
  .left-panel {
    padding: 0;
    min-height: auto;
    overflow-y: hidden;
  }
  .part,
  .question {
    border-radius: 1rem;
  }
  /* finish main-content */

  /*footer*/

  /*finish footer*/
}
