/* config */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.3333;
}

/* container */
.container {
  height: 100vh;
  width: 100%;
  min-width: 120rem;
  max-width: 100%;
  padding: 0;
}

/*theme Tet*/
@keyframes flowers-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes flowers-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes flowers-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
@-webkit-keyframes flowers-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes flowers-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.flowers.hidden {
  display: none;
}
.flower {
  height: auto;
  width: 30px; /*chinh kich thuoc hoa*/
  text-shadow: 0 0 5px #000;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: flowers-fall, flowers-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: flowers-fall, flowers-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.flower:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.flower:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.flower:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.flower:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.flower:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.flower:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.flower:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.flower:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.flower:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.flower:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.flower:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
}
.flower:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}
/* finish theme Tet */

/* header */
.content-header {
  display: flex;
  justify-content: space-between;
  background: #ffeee4;
}

.left-header img,
.right-header img {
  width: 100%;
}

.mid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mid-right-header img {
  width: 10rem;
}

.phao-header img {
  width: 10rem;
}

.logo-header img {
  height: auto;
  width: 350px;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-size: 350px 100px;
}

.control-header {
  display: flex;
  justify-content: space-around;
  width: 35rem;
  margin: 0 auto;
}

.form-header {
  display: flex;
}

.form-header input {
  height: 3.4rem;
  width: 24rem;
  padding: 5px;
  border: 2px solid #ffa500;
  border-radius: 1rem 0 0 1rem;
  font-size: 1.6rem;
}

.form-header button,
.btn-ctrl-flower button {
  height: 3.4rem;
  width: 4rem;
  background-color: #ffa500;
  color: white;
  border: 2px solid #ffa500;
  border-radius: 0 1rem 1rem 0;
  font-weight: bold;
  text-align: center;
}

.btn-ctrl-flower button {
  border-radius: 1rem;
}

.btn-ctrl-flower.active button {
  background-color: white;
  color: #ffa500;
  border: 2px solid #ffa500;
}
/* finish header */

/* main-content */
.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fbf7f4;
  border: #f4a261 3px solid;
}

.left-panel {
  min-width: 25rem;
  width: 25rem;
  min-height: 100vh;
  max-height: 100vh;
  text-align: left;
  overflow-y: auto;
}

.right-panel {
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  padding: 1rem 10rem 1rem 3rem;
  background-color: #fff;
  border-left: 5px solid #f4a261;
  text-align: left;
}

.left-panel,
.right-panel {
  padding-bottom: 1rem;
}

.right-title {
  display: none;
  border-bottom: 2px solid #f4a261;
}

.left-title,
.right-title {
  background-color: #f4a261;
  color: white;
  height: auto;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}

.part {
  font-weight: bold;
  padding: 1rem;
  border-top: 2px solid #f4a261;
}

.question {
  padding: 0.5rem 3rem;
  border-top: 1.5px solid #e2dfdc;
}

.part,
.question {
  display: none;
  cursor: pointer;
  text-align: justify;
}

.part:hover,
.question:hover {
  background-color: #e2dfdc;
  color: black;
  transition: all 0.15s ease-in-out;
}

.part.clicked,
.question.clicked {
  background-color: #a57e69;
  color: white;
}

.part.active,
.question.active {
  display: block;
}

.loading {
  font-style: italic;
  color: #999;
}
/* finish main-content */

/*footer*/
.footer-content {
  display: flex;
  justify-content: space-around;
  background-color: #fbf7f4;
  min-height: 10rem;
  font-size: 1.3rem;
  padding: 1.3rem 0 0 0;
}

.left-footer {
  display: flex;
  align-items: center;
  position: relative;
  top: -1rem;
}

.left-footer img {
  width: 7rem;
}

.mid-footer {
  display: flex;
  flex-direction: column;
}

.mid-bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid-bottom-footer img {
  width: 3rem;
  margin: 2px 1rem;
}

.contact {
  font-weight: bold;
}

/*finish footer*/

/* footer v2 */
.footer-content-v2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #fbf7f4; */
  background-color: #282a35;
  color: #d6d6d7;
}

.logo-top-footer-v2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-top-footer-v2 img {
  width: 3rem;
  margin: 2px 1rem;
}

.bottom-footer-v2 {
  text-align: center;
}
/* finish footer v2 */

@media screen and (max-width: 768px) {
  /* reset */
  body {
    font-size: calc(1.6rem * 0.9375);
  }
  .container {
    min-width: 32rem;
  }
  /* header */
  .content-header {
    display: block;
    background: #fbf7f4;
  }
  .mid-header {
    display: list-item;
    list-style: none;
  }
  .left-header,
  .right-header,
  .mid-right-header,
  .phao-header {
    display: none;
  }
  .mid-left-header {
    width: 100%;
    display: list-item;
    list-style: none;
    text-align: center;
  }
  .logo-header img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    width: 270px;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 270px 90px;
  }
  .control-header {
    width: 27rem;
  }
  .form-header {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
  .form-header input {
    width: 18rem;
  }
  .search-header {
    display: flex;
    justify-content: center;
  }
  /* finish header */

  /* main-content */
  .main-content {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
  .left-panel {
    min-height: fit-content;
    padding: 0;
    border-bottom: 3px solid #f4a261;
  }
  .right-panel {
    min-height: 80vh;
    border: 0px;
    padding: 1rem;
  }
  .left-panel,
  .right-panel {
    max-height: fit-content;
    overflow-y: hidden;
    width: 100%;
    padding: 0;
  }
  .right-title {
    display: block;
  }
  .answer {
    padding: 1rem;
  }
  /* finish main-content */

  /*footer*/

  /*finish footer*/
}
