/* config */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  font-size: 1.6rem;
}

/* container */
.container {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

/*theme Tet*/
@keyframes flowers-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes flowers-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes flowers-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
@-webkit-keyframes flowers-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes flowers-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.flower {
  height: auto;
  width: 30px; /*chinh kich thuoc hoa*/
  text-shadow: 0 0 5px #000;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: flowers-fall, flowers-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: flowers-fall, flowers-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.flower:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.flower:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.flower:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.flower:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.flower:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.flower:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.flower:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.flower:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.flower:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.flower:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.flower:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
}
.flower:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}

/* header */
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fbf7f4;
}

.mid-header {
  display: flex;
  align-items: center;
}

.left-header img,
.right-header img {
  width: 100%;
}

.logo-header img {
  height: 100px;
  width: 350px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  background-size: 350px 100px;
  margin-right: 10px;
}

.form-header {
  display: flex;
  align-items: center;
}
.form-header input {
  height: 10%;
  width: 500px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 32px;
  font-size: 1.6rem;
}
.form-header button {
  height: 10%;
  margin-left: 10px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
}

/* main */
.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fbf7f4;
  border: #f4a261 3px solid;
  border-radius: 3px;
}

.left-panel {
  width: 25%;
  min-height: 100vh;
  max-height: 100vh;
  padding: 1rem 1rem 1rem 3rem;
  border-right: 1px solid #ddd;
  text-align: left;
}

.right-panel {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  padding: 3rem 1rem 1rem 1rem;
  background-color: #fff;
  text-align: left;
}

.left-panel,
.right-panel {
  overflow-y: auto;
}

.part {
  font-weight: bold;
  padding: 10px 1rem;
}

.question {
  padding: 10px 3rem;
  margin: 0 2rem;
  min-width: 10rem;
}

.part,
.question {
  display: none;
  cursor: pointer;
  border: 0px;
  border-radius: 3rem;
}

.part:hover,
.question:hover {
  background-color: #cab4a2;
  color: white;
}

.part.clicked,
.question.clicked {
  background-color: #a57e69;
  color: white;
}

.part.active,
.question.active {
  display: block;
}

.separator {
  width: 5px;
  background-color: #f4a261;
  height: auto;
  margin: 0;
  border-radius: 1px;
}

.loading {
  font-style: italic;
  color: #999;
}

/*footer*/
.footer-content {
  display: flex;
  justify-content: space-between;
  background-color: #fbf7f4;
  min-height: 15rem;
}
.logo img {
  width: 17%;
  margin-left: 12%;
  margin-top: 13px;
}
.mid-footer {
  margin-right: 15%;
  margin-top: 20px;
}
.right-footer {
  margin-top: 13px;
}

@media screen and (max-width: 767.98px) {
  /* main */
  .main-content {
    flex-direction: column;
    padding: 1rem;
  }

  .left-panel,
  .right-panel {
    flex: none;
    width: 100%;
    border-right: none;
  }
  /* header */
  .content-header {
    display: block;
    background: #fbf7f4;
  }
  .mid-header {
    display: list-item;
    list-style: none;
  }
  .left-header img {
    width: 0%;
  }
  .logo-header img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 0px;
    height: 60px;
    width: 270px;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 270px 90px;
  }
  .right-header img {
    width: 0%;
  }
  .form-header {
    margin-left: 10%;
    display: flex;
    margin-top: 20px;
    align-items: center;
  }
  .form-header input {
    height: 10%;
    width: 500px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-header button {
    height: 10%;
    margin-left: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px;
    font-weight: bold;
  }
}

.code-box {
  width: 100%;
  height: 320px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: black;
}
.cd-bx{
  margin-top: 5px;
  margin-left: 5px;
  font-size: 17px;
}
.code-box p{
  line-height: 8px;
  color: white;
}
.str{
  color: #C27230;
}
.vrb{
  color: white;
}
.lbr{
  color: #6792B3;
}
.cmd{
  color:#B83426;
}
.txt{
  color: #A5C261;
}